{
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "%RECORD%.%DOMAIN%.",
        "Type": "A",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "%IP%"
          }
        ]
      }
    }
  ]
}
